*{
    margin: 0;
    padding: 0;
    font-family: 'Sora', sans-serif;
}

body{
    background-image: url(/Images/811366_website-background-images-hd-wallpapers-pretty_1920x1200_h.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1{
    font-size: 30px;
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
}

h2{
    font-size: 20px;
    padding-top: 15px;
    text-align: center;
    padding: 15px;
}

h3{
    font-size: 18px;
    padding-top: 10px;
    text-align: center;
}   

#txt{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    padding: 5px;
    background-color: #EDEADE;
    border: none;
    border-radius: 3px;

}

button{
    padding: 2px;
    margin-top: 15px;
    font-size: 16px;
    width: 150px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    border: none;
    background-color: antiquewhite;
    font-weight: bold;
    cursor: pointer;
    
}

